<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TODO APP</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <form action="/signin" method="post">
        <% if (locals.error) { %>
            <p><%= error %></p>
        <% } %>
        <label>ユーザ名</label>
        <input required type="text" name="username" />
        <br>
        <label>パスワード</label>
        <input required type="password" name="password" />
        <br>
        <input type="submit" value="ログイン" />
        <a style="text-decoration: none; color: blue;" href="/signup">アカウントをお持ちでない方はこちらからユーザー登録</a>
    </form>
</body>

</html>
